.body{
  background: #ebe7e6;
  color: #102542;
}

h1,
h2,
h3,
h4{
  padding: 1rem 0rem 0rem 1rem;
  font-family: "Roboto Slab", serif;
}

h1{
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

h2 {
  font-weight: 500;
  font-style: normal;
}

h4 {
  font-weight: 300;
  font-style: normal;
}

h3,
h4,
p,
.tooltip{
  font-family: "Fira Sans", sans-serif;
}

h3 {
  font-weight: 400;
  font-style: normal;
  padding: 0rem 0rem 0rem 1rem;
}

p {
  font-weight: 300;
  font-style: normal;
  padding: 1rem 0rem 0rem 1rem;
}

hr{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column{
  width: 45%;
}

.tooltip {
  position: absolute;
  color: #102542;
  background-color: #ebe7e6;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  pointer-events: none;
  box-shadow: 0 0 0.5rem #102542;
}

#top{
  font-size: 3rem;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1000;
  cursor: pointer;
}

#top:hover{
  color: #f87060 !important;
}

/*/*//*/*//*/*//*/*//*/*//*/*//*/*//*/*
DARK MODE
/*//*/*//*//*//*//*//*//*//*//*//*//*/

.body-mode{
  background: #102542;
  color: #ebe7e6 !important;
}