.body{
  background: #ebe7e6;
  color: #102542;
}

h1,
h2{
  padding: 1rem 0rem 0rem 1rem;
}

h1{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-style: normal;
}

h3 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0rem 0rem 0rem 1rem;
}

p {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 1rem 0rem 0rem 1rem;
}

.container{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column{
  width: 45%;
}

#barchart{
  width: 80%;
  display: flex;
  justify-content: center;
}

#top{
  font-size: 3rem;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1000;
  cursor: pointer;
}

#top:hover{
  color: #f87060 !important;
}

/*/*//*/*//*/*//*/*//*/*//*/*//*/*//*/*
DARK MODE
/*//*/*//*//*//*//*//*//*//*//*//*//*/

.body-mode{
  background: #102542;
  color: #ebe7e6 !important;
}