.link{
    color: #102542;
    font-weight: 400;
}

.link:hover{
    color: #f87060;
}

/*/*//*/*//*/*//*/*//*/*//*/*//*/*//*/*
DARK MODE
/*//*/*//*//*//*//*//*//*//*//*//*//*/

.link-mode{
    color: #ebe7e6;
}