.container-fill{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-fill,
#dot{
    margin-top: 5rem;
}

#choropleth,
canvas{
    cursor: grab;
}

#choropleth:active,
canvas:active{
    cursor: grabbing;
}

.btn{
    margin: 0 auto;
    width: 10rem;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    border-color: var(--black);
    pointer-events: none;
    box-shadow: 0 0 1rem var(--black);
    pointer-events: auto;
}

.btn:hover{
    border-color: var(--orange);
    box-shadow: 0 0 1rem #f86f60ad;
}

button{
    width: 2.5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.bi{
    color: var(--black);
}

canvas{
    display: block;
    width: 100vw;
    height: 100vh;
}

/*///*//*/*//*/*//*/*//*/*//*/*//*/*
//DARK MODE
/*//*///*//*//*//*//*//*//*//*//*/
.btn-mode{
    border-color: var(--white);
    box-shadow: 0 0 1rem var(--white);
}

.bi-mode{
    color: var(--white);
}