.navbar{
  color: #102542;
  margin: 1rem auto;
  padding: 1rem 1rem;
  text-decoration: none;
  height: 3rem;
  width: 75%;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 0 1rem #102542;
  border-radius: 1rem;
  
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

#mode{
  color: #102542;
  margin-top: -0.2rem;
  margin-left: -0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

#mode:hover{
  color: #f87060 !important;
}

.nav-link,
.nav-link:focus,
.nav-link:active{
  color: #102542;
}

.nav-link:hover{
  text-decoration: none;
  color: #f87060;
  text-shadow: 0 0 1rem #f86f60ad;
}

.sidebar-wrapper {
  position: fixed;
  top: 35%;
  left: 1rem;
  width: 1.5rem;
  z-index: 100;
}

.sidebar-linklist-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar-link {
  position: relative;
  height: 0.15rem;
  background-color: #102542;
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: 1rem;
}

.sidebar-link:hover,
.sidebar-link.active {
  background-color: #f87060;
  height: 0.2rem
}

.sidebar-link[data-level="1"] {
  width: 1.5rem;
  margin-left: 0;
}

.sidebar-link[data-level="2"] {
  width: 1.5rem;
  margin-left: 0.8rem;
}

.sidebar-link[data-level="3"] {
  width: 1.5rem;
  margin-left: 1.6rem;
}

.sidebar-link[data-level="4"] {
  width: 1.5rem;
  margin-left: 2.4rem;
}

/*/*//*/*//*/*//*/*//*/*//*/*//*/*//*/*
DARK MODE
/*//*/*//*//*//*//*//*//*//*//*//*//*/

.navbar-mode .nav-link,
.navbar-mode .nav-link:focus,
.navbar-mode .nav-link:active {
  color: #ebe7e6 !important;
}

.sidebar-link-mode{
  background-color: #ebe7e6;
}

.sidebar-link-mode:hover,
.sidebar-link-mode:active{
  background-color: #f87060;
}

.navbar-mode{
  box-shadow: 0 0 1rem #ebe7e6;
}

.navbar-mode .nav-link:hover {
  color: #f87060 !important;
}