.m3-footer,
.team-title,
a,
.footer-bottom{
    color: var(--beige);
}

.m3-footer {
    margin-top: 2rem;
    border-top: 1px solid var(--black);
    padding-top: 2rem;
    z-index: 0;
    background-color: var(--black);
}

#footer-grain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 0;
}

/* ---------------- Brand ---------------- */
.footer-brand,
.footer-team{
    text-align: center;
}

.brand-title {
    letter-spacing: 2px;
}

/* ---------------- Logo ---------------- */
#logo {
    margin: 2rem;
    height: 5rem;
    width: auto;
}

body.dark-theme #logo {
    filter: invert(1) brightness(2);
}

/* ---------------- Team ---------------- */
.team-title {
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--beige);
    display: inline-block;
}

.team-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.student-card {
    padding: 0.7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: 10rem;
    border: 1px solid var(--beige);
}

.student-card:hover {
    background-color: var(--orange);
    transition: all 0.2s ease;
    cursor: pointer;
}

.footer-bottom {
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
    opacity: 0.7;
}

a:hover{
    color: var(--orange);
}

/* ---------------- RESPONSIVE ---------------- */
@media (max-width: 768px) {
    .team-grid {
        justify-content: center;
    }

    .student-card {
        align-items: center;
    }
}