/* -------- Navbar -------- */
.m3-navbar-container {
  position: relative;
  z-index: 1000;
}

#navbar-grain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}

.m3-navbar {
  width: auto;
  min-height: 4rem;
  padding: 1rem;
  border-bottom: 1px solid var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

button {
  background-color: transparent;
  border: none;
}

.home {
  text-decoration: none;
}

.home:hover {
  background-color: transparent !important;
  color: var(--orange) !important;
}

md-menu {
  --md-menu-container-color: var(--beige);
}

md-menu::part(popup),
md-menu::part(surface) {
  position: fixed !important;
  z-index: 2147483647 !important;
}

md-menu-item {
  --md-menu-item-container-color: var(--beige);
  --md-menu-item-label-text-color: var(--black) !important;
}

md-menu-item:hover {
  --md-menu-item-container-color: var(--orange);
  --md-menu-item-label-text-color: var(--beige);
}

/* -------- Icons -------- */
#mode {
  transition: font-variation-settings 0.3s ease, transform 0.5s cubic-bezier(0.2, 0, 0, 1);
}

#mode,
#menu {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  transition: background-color 0.3s ease;
  flex-shrink: 0;
}

#mode:hover,
#menu:hover {
  background-color: var(--orange);
  color: var(--beige);
}