<head>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    <link rel="stylesheet" href="../css/footer.css">
    <link type="module" href="../js/footer.js">
</head>

<footer class="m3-footer" id="section-credits">    
    <div>
        <div class="footer-team">
            <h4 class="team-title">Contributors</h4>

            <div class="team-grid">
                <div class="student-card" onclick="handleButtonClick('https://github.com/inkeaton', true)">
                    Edoardo Vassallo
                </div>

                <div class="student-card" onclick="handleButtonClick('https://github.com/girofex', true)">
                    Federica Tamerisco
                </div>

                <div class="student-card" onclick="handleButtonClick('https://github.com/IRYNASAVCHUK', true)">
                    Iryna Savchuk
                </div>

                <div class="student-card" onclick="handleButtonClick('https://github.com/saracaviglia', true)">
                    Sara Caviglia
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="footer-brand">
            <div class="brand-header">
                <p class="brand-title">&copy; 2025 University of Genoa - DATA VISUALIZATION COURSE</p>
            </div>

            <img id="logo" src="img/DIBRIS_UniGe.png" alt="UniGe Logo">

            <p>
                Data source: <a href="https://acleddata.com" target="_blank">ACLED</a><br>
                Downloaded on Oct 28th, 2025
            </p>
        </div>
    </div>
</footer>