.link{
    color: var(--black);
    font-weight: 400;
}

.link:hover,
.github:hover{
    color: var(--orange);
}

.github:hover{
    cursor: pointer;
}

/*/*//*/*//*/*//*/*//*/*//*/*//*/*//*/*
DARK MODE
/*//*/*//*//*//*//*//*//*//*//*//*//*/

.link-mode{
    color: var(--white);
}